<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
  <style type="text/css">
    body, p, div {
      font-family: inherit;
      font-size: 14px;
    }

    body {
      color: #171717;
    }

    body a {
      color: #1188E6;
      text-decoration: none;
    }

    p {
      margin: 0;
      padding: 0;
    }

    table.wrapper {
      width: 100% !important;
      table-layout: fixed;
      -webkit-font-smoothing: antialiased;
      -webkit-text-size-adjust: 100%;
      -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
    }

    img.max-width {
      max-width: 100% !important;
    }

    ul ul ul ul {
      list-style-type: disc !important;
    }

    ol ol {
      list-style-type: lower-roman !important;
    }

    ol ol ol {
      list-style-type: lower-latin !important;
    }

    ol ol ol ol {
      list-style-type: decimal !important;
    }

    @media screen and (max-width: 480px) {
      .preheader .rightColumnContent div,
      .preheader .rightColumnContent span,
      .footer .rightColumnContent div,
      .footer .rightColumnContent span {
        text-align: left !important;
      }

      img.max-width {
        height: auto !important;
        max-width: 100% !important;
      }

      .column {
        display: block !important;
        width: 100% !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
      }
    }

    @media screen and (max-width: 480px) {
      table {
        width: 480px !important;
      }
    }

    body {
      font-family: 'Chivo', sans-serif;
    }
  </style>
  <link href="https://fonts.googleapis.com/css?family=Chivo&display=swap" rel="stylesheet">
  <title>Send Message</title>
</head>
<body>
<div class="webkit">
  <table style="background: #222222" cellpadding="0" cellspacing="0" border="0" width="100%" class="wrapper">
    <tr>
      <td valign="top" style="background: #222222; width: 100%">
        <table width="100%" class="outer" cellpadding="0" cellspacing="0"
               border="0">
          <tr>
            <td style="width: 100%">
              <table width="100%" cellpadding="0" cellspacing="0" border="0">
                <tr>
                  <td>
                    <table width="100%" cellpadding="0" cellspacing="0" border="0"
                           style="width:100%; max-width:600px;" align="center">
                      <tr>
                        <td style="padding: 0 0 0 0; color:#171717; text-align:left; width: 100%; background: #FFFFFF"
                            align="left">
                          <table border="0" cellpadding="0" cellspacing="0" align="center" width="100%"
                                 style="padding:30px 0 30px 30px; background: #171717">
                            <tbody>
                            <tr>
                              <td style="height: 100%;" valign="top">
                                <table width="570"
                                       style="width:570px; border-spacing:0; border-collapse:collapse; margin:0 0 0 0;"
                                       cellpadding="0" cellspacing="0" align="left" border="0"
                                       class="column column-0">
                                  <tbody>
                                  <tr>
                                    <td style="padding:0;margin:0;border-spacing:0;">
                                      <table class="wrapper" border="0"
                                             cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;">
                                        <tbody>
                                        <tr>
                                          <td style="font-size:6px; line-height:10px; padding:0 0 0 0;" valign="top"
                                              align="left">
                                            <img class="max-width"
                                                 width="230"
                                                 height="51"
                                                 style="display:block; color:#000000; text-decoration:none; font-family:Helvetica, arial, sans-serif; font-size:16px;"
                                                 src="https://cdn.mcauto-images-production.sendgrid.net/7984d0c2405a1708/bb6ea00a-1563-4d07-859b-8e4791668902/537x119.png"
                                                 alt="img"
                                            />
                                          </td>
                                        </tr>
                                        </tbody>
                                      </table>
                                    </td>
                                  </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                            </tbody>
                          </table>
                          <table border="0" cellpadding="0" cellspacing="0" align="center" width="100%"
                                 style="padding:10px 0 0 30px; background: #ffffff">
                            <tbody>
                            <tr>
                              <td style="height: 100%;" valign="top">
                                <table width="550" class="column column-0" cellpadding="0" cellspacing="0" align="left"
                                       border="0"
                                       style="width:550px; border-spacing:0; border-collapse:collapse; margin:0 10px 0 10px;">
                                  <tbody>
                                  <tr>
                                    <td style="padding:0;margin:0;border-spacing:0;">
                                      <table class="module" border="0" cellpadding="0" cellspacing="0" width="100%"
                                             style="table-layout: fixed;">
                                        <tbody>
                                        <tr>
                                          <td style="padding:18px 40px 0 0; line-height:20px; text-align:inherit; height: 100%"
                                              valign="top">
                                            <div>
                                              <h4 style="text-align: inherit; font-family: inherit">
                                                <span style="color: #171717; font-size: 24px">
                                                  We received a request to reset your password
                                                </span>
                                              </h4>
                                            </div>
                                          </td>
                                        </tr>
                                        </tbody>
                                      </table>
                                      <table class="module" border="0" cellpadding="0" cellspacing="0" width="100%"
                                             style="table-layout: fixed;">
                                        <tbody>
                                        <tr>
                                          <td style="padding:18px 40px 10px 0; line-height:18px; text-align:inherit; height: 100%"
                                              valign="top">
                                            <div>
                                              <div style="font-family: inherit; text-align: inherit">
                                                <span style="color: #171717">
                                                  <strong>Protecting your data is important to us</strong>
                                                </span>
                                              </div>
                                              <div style="font-family: inherit; text-align: inherit">
                                                <span style="color: #171717">
                                                  <strong>Please click on the button below to begin.</strong>
                                                </span>
                                              </div>
                                            </div>
                                          </td>
                                        </tr>
                                        </tbody>
                                      </table>
                                      <table border="0" cellpadding="0" cellspacing="0" class="module"
                                             style="margin-top: 20px; table-layout:fixed; width: 100%">
                                        <tbody>
                                        <tr>
                                          <td align="left" class="outer-td" style="padding:0 0 0 0;">
                                            <table border="0" cellpadding="0" cellspacing="0" class="wrapper-mobile"
                                                   style="text-align:center;">
                                              <tbody>
                                              <tr>
                                                <td align="center" class="inner-td"
                                                    style="border-radius:6px; font-size:16px; text-align:left; background:#ffba34;">
                                                  <a href="{{link}}"
                                                     style="background:#ffba34; border: 0 solid #333333; border-radius:4px; color:#ffffff; display:inline-block; font-size:16px; font-weight:bold; letter-spacing:0; line-height:normal; padding:15px 10px 15px 10px; text-align:center; text-decoration:none; font-family:arial,helvetica,sans-serif;"
                                                     target="_blank"
                                                  >
                                                    RESET PASSWORD
                                                  </a>
                                                </td>
                                              </tr>
                                              </tbody>
                                            </table>
                                          </td>
                                        </tr>
                                        </tbody>
                                      </table>
                                      <table class="module" border="0" cellpadding="0" cellspacing="0" width="100%"
                                             style="table-layout: fixed;">
                                        <tbody>
                                        <tr>
                                          <td style="padding:0 0 10px 0;">
                                          </td>
                                        </tr>
                                        </tbody>
                                      </table>
                                      <table class="module" border="0" cellpadding="0" cellspacing="0" width="100%"
                                             style="table-layout: fixed;">
                                        <tbody>
                                        <tr>
                                          <td style="padding:0 0 60px 0;"></td>
                                        </tr>
                                        </tbody>
                                      </table>
                                    </td>
                                  </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</div>
</body>
</html>